.it1{
    width: 100px;
    background-color: black;
    color: white;
}
.it2{
    width: 100px;
    background-color: black;
    color: white;
}
.it3{
    width: 100px;
    background-color: black;
    color: white;
}
h1{
    color: white;
}
body{
    background-color: brown;
}